body{
    height: 100vh;
    background-color: aquamarine;
}

h1{
    font-size: 60px;
    text-align: center;
}

.large-laptop,
.laptop,
.tablet,
.mobile{
    font-size: 40px;
    text-align: center;
    display: none;
}

/* Media Query Using Min Width */
/* 
@media screen and (min-width: 0px){
    body{
        background-color: crimson;
    }
    .mobile{
        display: block;
    }
}

@media screen and (min-width: 425px){
    body{
        background-color: aqua;
    }
    .mobile{
        display: none;
    }
    .tablet{
        display: block;
    }
}

@media screen and (min-width: 768px){
    body{
        background-color: darkgoldenrod;
    }
    .mobile{
        display: none;
    }
    .tablet{
        display: none;
    }
    .laptop{
        display: block;
    }
}

@media screen and (min-width: 1024px){
    body{
        background-color:  forestgreen;
    }
    .mobile{
        display: none;
    }
    .tablet{
        display: none;
    }
    .laptop{
        display: none;
    }
    .large-laptop{
        display: block;
    }
} */

/* Media Query Using Max Width */

@media screen and (max-width: 1440px){
   body{
    background-color: aquamarine;
   }
   .large-laptop{
    display: block;
   }
}

@media screen and (max-width: 1024px){
    body{
        background-color: forestgreen;
    }
    .large-laptop{
        display: none;
    }
    .laptop{
        display: block;
    }
}

@media screen and (max-width: 768px){
    body{
        background-color: darkgoldenrod;
    }
    .large-laptop{
        display: none;
    }
    .laptop{
        display: none;
    }
    .tablet{
        display: block;
    }
}

@media screen and (max-width: 425px){
    body{
        background-color: aqua;;
    }
    .large-laptop{
        display: none;
    }
    .laptop{
        display: none;
    }
    .tablet{
        display: none;
    }
    .mobile{
        display: block;
    }
}